.black-box{
  width: 45px;
  height: 45px;
  background-color: black;
  margin: 0;
  padding: 0;
}
.white-box{
  width: 45px;
  height: 45px;
  background-color: white;
}
.red-box{
  width: 45px;
  height: 45px;
  background-color: red;
}
.row{
  margin: 0;
  padding: 0;
  border: 0;
}
.cell{
  margin: 0;
  padding: 0;
  border: 0;
}
.table{
  border: 3px solid black;
  margin: 0;
  padding: 0;
}